<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Full NG App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="isAuth">Users</a>
        </li>

      </ul>
      <div class="d-flex">
        <button class="btn btn-link nav-item nav-link" (click)="logout()" *ngIf="isAuth">Logout</button>
      </div>
    </div>
  </div>
</nav>


<!-- main app container
  [ngClass]="['first', 'second']"
-->
<div class="app-container [ngClass]=' { 'bg-light' : 'user' }'">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
