<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && firstName.errors }" />
        <div *ngIf="submitted && firstName.errors" class="invalid-feedback">
          <div *ngIf="firstName.errors?.['required']">First Name is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && lastName.errors }" />
        <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
          <div *ngIf="lastName.errors?.['required']">Last Name is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && userName.errors }" />
        <div *ngIf="submitted && userName.errors" class="invalid-feedback">
          <div *ngIf="userName.errors?.['required']">Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && password.errors }" />
        <div *ngIf="submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
