<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <div class="alert alert-info">
      <strong>Normal User</strong> - U: user P: user<br />
      <strong>Administrator</strong> - U: admin P: admin
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && username.errors }" />
        <div *ngIf="submitted && username.errors" class="invalid-feedback">
          <div *ngIf="username.errors?.['required']">Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && password.errors }" />
        <div *ngIf="submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors?.['required']">Password is required</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
